.column {
    /* display: flex; */
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* two columns */
    gap: 32px;
    align-items: start;
}

body {
    background-color: #FFF4ED;
}

h1 {
    color: #B57757;
    font-weight: bold;
    text-align: center;
}


button {
    color: white;
    margin: 0;
    background-color: #8b4513;
    padding: 10px;
    border-radius: 5px;
}

input {
    width: 25vw;
    padding: 0.8vw;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}