.checkin-box {
    border-color: black;
    width: 50vw;
    margin: auto;
    background-color: #FFF7F2;
    border-style: solid;
    border-radius: 5px;
}

.checkin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}