.header {
    background-color: #F6CDBB;
    padding: 10px 20px;
    align-items: center;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}


.header-button {
    color: white;
    margin: 0;
    background-color: #8b4513;
    padding: 10px;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.built-img  {
    height: 5.5vw;
    width: auto;
}

a {
    text-decoration: none;
    outline: none;
}

a-image-link:focus {
    outline: none;
}